body {
    overflow: overlay;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0px !important;
}

*::-webkit-scrollbar {
    width: 14px;
}

*::-webkit-scrollbar-button {
    display: none;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: #bbbbbb;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #aaaaaa;
}

.font-estetik {
    font-family: 'Sacramento', cursive !important;
}

.cropper {
    width: 14rem;
    height: 14rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.cropper>img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.btn-music {
    position: fixed;
    bottom: 9vh;
    right: 2vh;
    z-index: 1055;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bs-dark);
    z-index: 1055 !important;
}

.ucapan {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}

.ucapan::-webkit-scrollbar {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
}