html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    padding: 0 !important;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

.font-estetik {
    font-family: 'Sacramento', cursive !important;
    color: #ffffff !important;
}

.cropper {
    width: 14rem;
    height: 14rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.cropper>img {
    display: inline;
    margin: 0 auto;
    height: auto;
    width: 100%;
}

.btn-music {
    position: fixed;
    bottom: 9vh;
    right: 2vh;
    z-index: 1055;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #212529;
    z-index: 1056 !important;
}

.card-body {
    overflow-wrap: break-word !important;
}

.mousey {
    padding: 0.25rem 0.625rem;
    height: 2rem;
    border: 0.1rem solid #fff;
    border-radius: 1.4rem;
    opacity: 0.75;
    box-sizing: content-box;
}

.scroller {
    width: 0.25rem;
    height: 0.625rem;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% {
        opacity: 0;
    }

    10% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(1rem);
        opacity: 0;
    }
}